/* Home.css */

.home-container {
  width: 100%;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* PC → 3 colunas */
  gap: 25px;
  justify-items: center;
}

.titulo-pagina-home {
  margin-bottom: 40px;
  color: grey;
  font-weight: 500;
  justify-self: center;
  font-size: 24px;
  margin: 32px;
}

/* telas entre 1100px e 850px → 3 colunas */
@media (max-width: 1100px) {
  .home-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet → 2 colunas */
@media (max-width: 900px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celular → 1 coluna */
@media (max-width: 600px) {
  .home-container {
    grid-template-columns: 1fr;
  }
}