.corpo-informacoes-usuario{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
}


.container-avatar-nome-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.foto-usuario{
    background-color: rgb(238, 238, 238);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px grey;
}

.container-meus-anuncios{
    min-height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    border: solid 1px rgb(182, 182, 182);
    cursor: pointer;
}

.container-meus-anuncios h3{
    font-weight: 500;
}

.container-meus-anuncios:hover{
    background-color: whitesmoke;
}

.container-informacoes{
    min-height: 100px;
    width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid 1px rgb(182, 182, 182);
    overflow: hidden;
}

.campo{
  border-top: solid rgb(182, 182, 182) 1px ;
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 28px 0px 28px;
  cursor: pointer;
}

.campo:hover{
  background-color: whitesmoke;
}


.cabecalho-informacoes{
    padding: 24px;
}

.cabecalho-informacoes h3{
    font-weight: 500;
}

.cntr-lbl-inf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cntr-lbl-inf h3{
    font-weight: 500;
    color: rgb(97, 97, 97);
}

.nome-usuario-pg-infos{
    font-weight: 500;
}

.container-botoes {
    display: flex;
    justify-content: center; /* inicia à esquerda do quadro */
    gap: 460px; /* espaço entre os botões */
    width: 100%;
    margin-top: 12px; /* distância do último campo */
}

.btn-delete {
    background-color: #e74c3c; /* vermelho */
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn-sair {
    background-color: #3498db; /* azul */
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}


