.corpo-informacoes-usuario{
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.container-avatar-nome-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px 64px;
    gap: 18px;
}

.foto-usuario{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container-anuncios{
    background-color: rgb(212, 212, 212);
    min-height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
}

.container-informacoes{
    background-color: rgb(212, 212, 212);
    min-height: 100px;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* padding: 24px; */
    border-radius: 8px;
}

.campo-nome{
    background-color: pink;
    width: 100%;
    height: 64px;
}