.meusanuncios-container {
  width: 100%;
  padding: 40px;
}

.titulo-pagina-meusanuncios{
  margin-bottom: 40px;
  color: grey;
  font-weight: 500;
  justify-self: center;
  font-size: 24px;
}

.titulo-anuncio-meusanuncios {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-weight: 500;
}


.lista-anuncios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.card-anuncio {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  padding: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-anuncio:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.img-anuncio {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-anuncio h2 {
  font-size: 1.4rem;
  margin: 8px 0;
  color: #333;
}

.card-anuncio p {
  font-size: 1.05rem;
  color: #555;
  margin: 4px 0;
}

.anuncio-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-edit-meusanuncios {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4A90E2;
  font-weight: 500;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-edit-meusanuncios:hover{
  background-color: #549cf0;
}

.btn-delete-meusanuncios {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: solid 1px grey;
  background-color: white;
  font-weight: 500;
  color: grey;

  /* Transição suave */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-delete-meusanuncios:hover {
  background-color: grey;
  color: white;
}


/* === Responsividade === */
@media (max-width: 1200px) {
  .lista-anuncios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .lista-anuncios {
    grid-template-columns: 1fr;
  }

  .card-anuncio {
    width: 90%;
  }
}