.corpo-cadastro{
    display: flex;
    flex-direction: row;
}

.container-esquerda{
    background-color: #2C3E50;
    height: 100vh;
    width: 40%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-direita{
    background-color: #C8CDD2;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    padding: 18px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.container-input{
    display: flex;
    flex-direction: column;
}